span {
	position: absolute;
	width: 100px;
	overflow: auto;
}
.delete-button {
    margin-left: 300px;
    background-color: transparent;
    border: none;
    color: #e57373;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
